.page-header
  .pull-right
    %strong
      Total:
      = number_to_currency @banks.sum(&:total_amount), :unit => 'zł'

  %h1 Banks

#banks_chart{:'data-invoices' => banks_chart_data}

%table.table#banks
  %thead
    %tr
      %th Name
      %th Currency
      %th.min Amount
      %th.min Amount in PLN
      %th Actions
  %tbody
    = render @banks

= link_to_new :bank
= link_to 'New account balance', [:new, :account_balance], :class => 'btn'
