.page-header
  %h1 Days
%table.table.table-striped
  %thead
    %tr
      %th Date
      %th Actions
  %tbody
    - @days.each do |day|
      %tr
        %td= day
        %td
          = link_to 'Destroy', day, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger'
